<!--
  Generated template for the ButtonsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>buttons</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button color="danger" (click)="presentActionSheet()">Pick your color</button>
  <h2 [ngStyle]="{
  'background-color': color}">
    <label>My Color</label>
  </h2>
  <button ion-button color="dark" clear>Dark Clear</button>
  <button ion-button round>Primary Round</button>
  <button ion-button icon-right (click)="lchaim = true">
    Get me a drink
    <ion-icon name="beer"></ion-icon>
  </button>

  <h1 *ngIf="lchaim">LCHAIM</h1>
  <ion-item>
    <ion-label>Did you light the menorah today</ion-label>
    <ion-checkbox color="dark"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Did you light the count sefira today</ion-label>
    <ion-checkbox color="dark"></ion-checkbox>
  </ion-item>
  <ion-fab right bottom>
    <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon name="basketball"></ion-icon></button>
      <button ion-fab><ion-icon name="cash"></ion-icon></button>
      <button ion-fab><ion-icon name="flame"></ion-icon></button>
      <button ion-fab><ion-icon name="megaphone"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>



</ion-content>
