<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Button" tabIcon="happy"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="List" tabIcon="list"></ion-tab>
  <ion-tab [root]="tab6Root" tabTitle="Scroll" tabIcon="walk"></ion-tab>
</ion-tabs>
