<!--
  Generated template for the ItemDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>itemDetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>I like {{item}}'s</h1>

</ion-content>
