<!--
  Generated template for the ListsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>lists</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="goToDetail(item)">
      {{ item }}
    </button>
  </ion-list>
<ion-label>Let us know what your favorite yom tov is</ion-label>
  <button ion-button icon-only (click)="goToform()">
    <ion-icon name="home"></ion-icon>
  </button>
</ion-content>
