page-scrollable label {
  color: blue;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%; }
page-scrollable ion-scroll {
  width: 50%;
  height: 300px; }
  page-scrollable ion-scroll p {
    height: 100px;
    width: 80px; }
  page-scrollable ion-scroll img {
    width: 200px;
    height: 300px;
    left: 0;
    display: block; }

/*# sourceMappingURL=scrollable.css.map */
