page-scrollable {
  label{
    color: blue;
    margin-top: 2% ;
    margin-bottom: 2%;
    padding: 1% ;
  }

  ion-scroll {
    width: 50%;
    height: 300px;

    p {
      height: 100px;
      width: 80px;
      }
    img {
      width: 200px;
      height: 300px;
      left: 0;
      display: block;


    }

  }

}
