<!--
  Generated template for the ScrollablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>scrollable</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <label>Scroll text</label>
  <ion-scroll scrollY="true" style="white-space: nowrap;">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae dictum nulla. Curabitur sollicitudin porta<br>
      consectetur. In ut augue et neque feugiat pretium ac non ex. Donec blandit lobortis lacus, commodo rutrum odio<br>
      Nulla facilisi. Nunc ac ex turpis. Vestibulum ex lectus, maximus ac diam ac, faucibus aliquam odio. Pellentesque<br>
      facilisis, tempus orci sit amet, consectetur enim. Interdum et malesuada fames ac ante ipsum primis in faucibus.<br>
      vehicula arcu. Mauris pulvinar ullamcorper tortor.<br>

      Aenean vehicula auctor dui, eget tincidunt ligula iaculis et. Fusce elementum lorem mi, nec ultrices sem interdu<br>
      Fusce consectetur mauris vitae diam malesuada, in porta lacus malesuada. Sed nec feugiat leo. Vestibulum nec nib<br>
      <br>
      Vestibulum felis enim, vehicula id sapien eget, malesuada consequat purus. Sed a arcu quis lorem viverra finibus<br>
      Phasellus vitae eleifend erat. Duis luctus est nec nisi pellentesque, eu sagittis turpis commodo. Sed egestas li<br>
      dui, ut pellentesque nunc lobortis id.<br>

      Curabitur molestie, libero id ullamcorper consequat, nulla quam dignissim ex, in lobortis lorem nisl non elit. S<br>
      quis facilisis dolor. Maecenas tincidunt nec ex non scelerisque. Aenean in vehicula risus, id molestie nisi. Dui<br>
      turpis quam. Nullam eu augue ante. Nulla at tempus lectus. Aenean mauris nisi, posuere sit amet vestibulum porta<br>
      eleifend id nulla. Phasellus mi ante, auctor in mauris sed, laoreet volutpat mauris.<br>

      Suspendisse sed fringilla odio. Etiam in tempor diam. Duis non augue leo. Sed mattis tellus quis purus interdum,<br>
      nec sodales tortor venenatis. Praesent nec tempor diam. In eu tincidunt sapien, sed vulputate purus. Mauris eu<br>
      dapibus purus. Donec iaculis nec libero sit amet egestas. In hac habitasse platea dictumst. Suspendisse massa es<br>
      vestibulum sed risus non, mollis pulvinar erat. Ut sapien nisi, pretium lacinia velit eu, rhoncus accumsan ex.<br>
      Suspendisse ut metus ac nulla pretium pretium id eget magna. Phasellus id dolor sapien. Nunc elementum, augue in<br>
      aliquam consectetur, enim tellus finibus ipsum, vitae volutpat nunc nisi gravida lorem. Vivamus at consequat<br>
      lorem.<br>

      Nulla facilisi. Integer aliquet metus in tortor varius pretium. Vestibulum hendrerit ex venenatis nisi efficitur<br>
      ut volutpat elit ullamcorper. Quisque tempus, risus maximus volutpat mollis, arcu turpis venenatis arcu, sit ame<br>
      tempor mauris odio eu augue. Morbi ac mi id metus fermentum posuere. Class aptent taciti sociosqu ad litora<br>
      torquent per conubia nostra, per inceptos himenaeos. Curabitur id molestie justo, semper efficitur nisi.<br>
      Vivamus lobortis metus a purus suscipit suscipit. Suspendisse at aliquam nunc. Nunc pellentesque arcu a<br>
      turpis cursus, ullamcorper iaculis nunc rhoncus. Cras dignissim nisl libero, ac sodales enim tincidunt ut. Donec<br>
      vitae enim in tortor vulputate ultricies. Maecenas in nisl fringilla, porta felis facilisis, luctus nibh. Intege<br>
      mollis nunc at risus aliquam, at convallis est cursus.</p>


  </ion-scroll>
  <label>Scroll images</label>
  <ion-scroll scrollY="true" style="white-space: nowrap;">
    <img src="../assets/imgs/thomas-kelley-64329.jpg">
    <hr>
    <img src="../assets/imgs/thomas-kelley-64329.jpg">
    <hr>
    <img src="../assets/imgs/thomas-kelley-64329.jpg">

  </ion-scroll>

</ion-content>
