<!--
  Generated template for the YomtovFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Yom Tov Form</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="container">
     <form (ngSubmit)="onSubmit()" #yomTovForm="ngForm">
      <div class="form-group">
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" placeholder="Moish Pipik" ([ngModel])="name" required></ion-input>

      </div>
       <div class="form-group">
         <ion-label stacked>Favorite Yom Tov
         <select class="form-control" required>
           <option *ngFor="let yomtov of yomimTovim" [value]="favoriteYomTov">{{yomtov}}</option>
         </select>
         </ion-label>
       </div>
       <div class = "form-group item item-input-inset">
         <ion-label class = "item item-input-wrapper">
           <i class = "icon musical-notes placeholder-icon"></i>
           <ion-input type="text" placeholder="song" ([ngModel])="favoriteSong"></ion-input>
         </ion-label>
       </div>
       <button type="submit" class="btn btn-success" (click)="yomTovForm.reset()">Submit</button>

     </form>
  </div>
</ion-content>
